@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
/* font */
h1, h2, h3, h5{
  font-family: 'Balsamiq Sans', cursive;
}
/* table */
table {
    font-family: 'Balsamiq Sans', cursive;
    font-size: larger;
    border-collapse: collapse;
    border: 2px dashed;
    text-align: center;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  
  td, th {
    border: 1px dashed #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
}
/* image center */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* background-color */
.background{
  background-color:#221e57;

}

